---
import { FormattedDate, SectionContainer } from 'src/components/react'
import FeaturedImage from 'src/components/sanity/FeaturedImage.astro'
import { SITE_DESCRIPTION, SITE_TITLE_PREFIX } from 'src/config/consts'
import Layout from 'src/layouts/Layout.astro'
import { useGetProjectsQuery } from 'src/clients/sanity'

const PROJECT_PAGE_TITLE = `${SITE_TITLE_PREFIX} My Work`
const PROJECT_PAGE_DESCRIPTION = SITE_DESCRIPTION

export async function getProjects() {
  return await useGetProjectsQuery(true)
}

const projects = await getProjects()
---

<Layout title={PROJECT_PAGE_TITLE} description={PROJECT_PAGE_DESCRIPTION}>
  <SectionContainer containerClass="gap-8 md:gap-16 py-16 md:py-24">
    <h1 class="text-2xl text-white md:text-3xl lg:text-4xl">Projects</h1>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-8 lg:grid-cols-3">
      {
        projects.map(({ featuredImage, title, pubDate, slug, estimatedReadingTime }) => (
          <div class="flex flex-col opacity-80 hover:opacity-100">
            <a href={slug}>
              <div class="relative overflow-hidden rounded-md">
                {featuredImage && <FeaturedImage class="max-h-52" width={360} height={240} asset={featuredImage} alt={title} />}
              </div>
              <div class="flex flex-row justify-between pt-4 text-white">
                <h3 class="text-lg text-white md:text-xl lg:text-2xl">
                  <p>{title}</p>
                </h3>
                <div class="flex flex-col items-end gap-1">
                  <h4>Reading time: {estimatedReadingTime} min</h4>
                  <FormattedDate date={pubDate} />
                </div>
              </div>
            </a>
          </div>
        ))
      }
    </div>
  </SectionContainer>
</Layout>
