---
import { FormattedDate } from 'src/components/react'
import FeaturedImage from 'src/components/sanity/FeaturedImage.astro'
import { useGetPostsQuery, getTagsQuery } from 'src/clients/sanity'
import { SITE_DESCRIPTION, SITE_TITLE } from 'src/config/consts'
import Layout from 'src/layouts/Layout.astro'

export async function getTags() {
  return await getTagsQuery(true)
}

export async function getPosts() {
  return await useGetPostsQuery(true)
}

const tags = await getTags()

const posts = await getPosts()
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section class="flex flex-col">
    <h1>Blog</h1>
    <div class="flex flex-col">
      <div>
        <input type="text" placeholder="Search blog" />
      </div>
      <div>
        <ul class="flex">
          {
            tags.map(({ slug, title }) => (
              <li class="p-2">
                <a href={slug}>#{title}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </section>
  <section class="xxl:grid-cols-4 grid grid-flow-row grid-cols-1 gap-4 py-24 md:grid-cols-2 md:gap-8 xl:grid-cols-3">
    {
      posts.map(({ featuredImage, title, pubDate, slug, estimatedReadingTime }) => (
        <div class="flex flex-col">
          <div class="relative h-[208px] overflow-hidden rounded-md">
            {featuredImage && <FeaturedImage class="max-h-52" width={360} height={240} asset={featuredImage.asset.url} alt={title} />}
          </div>
          <div class="text-primary mt-6 flex flex-col md:flex-row">
            <div class="flex flex-col md:flex-row">
              <FormattedDate date={pubDate} />
              <span class="px-2">•</span>
              <h4>Reading time: {estimatedReadingTime} min</h4>
            </div>
          </div>
          <h3 class="font-nunito py-8 text-3xl font-semibold text-white lg:text-4xl">
            <a href={slug}>{title}</a>
          </h3>
        </div>
      ))
    }
  </section>
</Layout>
