---
import Layout from './Layout.astro'
import type { PostType } from 'src/clients/sanity'
import { FormattedDate, SectionContainer } from 'src/components/react'
import FeaturedImage from 'src/components/sanity/FeaturedImage.astro'
import { SITE_DESCRIPTION, SITE_TITLE_PREFIX } from 'src/config'

type Props = Pick<PostType, 'title' | 'description' | 'pubDate' | 'upDate' | 'featuredImage' | 'tags'>

const { title, description, featuredImage, tags, pubDate } = Astro.props
const BLOG_POST_PAGE_TITLE = `${SITE_TITLE_PREFIX} ${title}`
const BLOG_POST_PAGE_DESCRIPTION = SITE_DESCRIPTION
console.log(Astro.props)
---

<Layout title={BLOG_POST_PAGE_TITLE} description={BLOG_POST_PAGE_DESCRIPTION}>
  <SectionContainer className="my-24">
    <div class="mb-12 flex flex-col gap-12 md:mb-20 lg:mb-28">
      <h1 class="text-3xl font-medium text-white md:text-4xl lg:text-5xl">{title}</h1>
    </div>

    <div class="mb-20 flex w-full items-start justify-between">
      <p class="text-lg uppercase text-white md:text-xl lg:text-2xl"><FormattedDate date={pubDate} /></p>
      {
        tags && tags.length > 0 && (
          <div class="flex flex-col gap-4 text-xl text-white md:text-2xl lg:text-3xl">
            <p class="font-medium uppercase">Tags</p>
            <ul class="flex flex-col font-light">
              {tags.map((tag) => (
                <li> {tag.title}</li>
              ))}
            </ul>
          </div>
        )
      }
    </div>

    <div class="mb-28 w-full">
      {featuredImage && <FeaturedImage asset={featuredImage} alt={description} />}
    </div>
    <slot />
  </SectionContainer>
</Layout>
